<div class="row">
 <div class="col offset-1 pt-2">
  <%= render partial: 'users/user_image', locals: { user: @user } %>
 </div>
 <div class="col-4">
    <%= link_to edit_user_path do %>
      <span class="fa-stack fa-2x">
        <i class="fa-solid fa-user-pilot fa-stack-3x" style="color: #a6ce39;"></i>
        <i class="fa-solid fa-pen-nib fa-stack-1x fa-inverse fa-2xs" style="color: #a6ce39;"></i>
      </span>
    <% end %>
  </div>
</div>
<div class="row">
 <div class="col-3 offset-1">
  <%= link_to new_post_path,style: "color: #a6ce39;" do %>
    <i class="fa-solid fa-file-plus fa-3x mt-4"></i>
  <% end %>
  </div>

  <div class="col-3 offset-1">
    <%= render 'users/mine_open' %>
  </div>
  <div class="col-3 offset-1">
    <%= render 'users/others_open' %>
  </div>

</div>


 <table class='table table-hover'>
  <thead>
    <tr>
      <th><%= I18n.t("Title") %></th>
      <th><%= I18n.t("Edit") %></th>
      <th><%= I18n.t("Delete") %></th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td>
            <%= link_to edit_post_path(post), class: "text-info" do %>
              <%= post.title %>
            <% end %>
        </td>
        <td>
            <%= link_to edit_post_path(post) do %>
              <i class="fa-solid fa-file-pen fa-2x" style="color: #a6ce39;"></i>
            <% end %>
        </td>
        <td>
            <%= link_to post_path(post), method: :delete, data: { confirm: 'Please make sure' } do %>
              <i class="fa-solid fa-trash-can fa-2x" style="color: #a6ce39;"></i>
            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>




