<div class="container">
    <div class="row">
        <div class="col-10">
            <table class="table table-borderless message">
              <thead>
                <tr>
                  <th style="text-align: left;"><%= render partial: 'chats/two_users_image', locals: { user: @me } %></th>
                  <th style="text-align: right;"><%= render partial: 'chats/two_users_image', locals: { user: @companion } %></th>
                </tr>
              </thead>
            <div>
             <%= render 'index', chats: @chats %>
            </div>
            </table>
            <%= form_with model: @chat, class: "ml-4", remote: true do |f| %>
              <%= f.text_field :message %>
              <%= f.hidden_field :room_id %>
            <% end %>
        </div>
    </div>
</div>
