<p class="alert text-danger"><%= alert %></p>

<div class='container'>
  <div class='row'>
    <div class="col-11 offset-1">
      <div class="form-group">
        <%= render partial: 'homes/language' %>
      </div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.label :email %><br>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", size: "35" %>
        </div>

        <div class="form-group">
          <%= f.label :password %><br>
          <%= f.password_field :password, autocomplete: "current-password", size: "35" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="form-group">
            <%= f.check_box :remember_me,{ size: 50 } %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
        </div>

        <div class="col-2 offset-1">
        <div class="form-group actions">
          <%= f.submit I18n.t("Log in") %>
        </div>
        </div>
      <% end %>
      <div class="col-1 offset-3 offset-sm-0 offset-lg-0">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
       <%= f.hidden_field :email, :value => User.find_by(id: 2).email %>
       <%= f.hidden_field :password, :value => "#{ENV['GUEST_PASSWORD']}" %>
       <%= f.submit I18n.t("Guest"), class: "bg-success" %>
      <% end %>
      </div>
    </div>
  </div>
</div>

<%= render "devise/shared/links" %>
