<!--
条件分岐概要

1.ログインユーザーが自身のgoodsを公開(全てのアイコン表示)
2.ログインユーザーが自身のgoodsを非公開(ディスプレイスラッシュ + 虫眼鏡)
3.ログインユーザー、他ユーザーともにgoodsを公開(全てのアイコン表示)
4.他ユーザーがgoods数を非公開 (Goodsのカウントだけ非表示)
5.ログインユーザーが他ユーザーのgoodsを非表示(Goodsのカウントだけ非表示)
-->

<div id="<%= post.id %>">
 <% if post.user_id == current_user.id  && current_user.mine_open == true %>
    <%= render partial: 'goods/conditional_branch1', locals: { post: post } %>
 <% elsif post.user_id == current_user.id && current_user.mine_open == false %>
    <%= render partial: 'goods/conditional_branch2', locals: { post: post } %>
 <% elsif post.user_id != current_user.id && user_mine_open == true && current_user.others_open  == true %>
    <%= render partial: 'goods/conditional_branch3', locals: { post: post } %>
 <% elsif post.user_id != current_user.id && user_mine_open  == false %>
    <%= render partial: 'goods/conditional_branch4', locals: { post: post } %>
 <% else post.user_id != current_user.id && current_user.others_open  == false %>
    <%= render partial: 'goods/conditional_branch5', locals: { post: post } %>
 <% end %>
</div>