<div class='container-fluid'>
  <div class='row'>
    <div class="form-group col offset-1">
    <%= form_with model:@post, local:true do |form| %>
      <div class="col">
        <%= form.label :Title %>
      </div>
      <div class="col-7">
        <%= form.text_field :title, class: "form-control name" %>
      </div>
      <div class="offset-5">
      </div>
      <div class="col mt-3">
        <%= form.label :Image %>
      </div>
      <div class="col">
        <%= form.file_field :post_file %>
      </div>
      <div class="col mt-3">
        <%= form.label :Comment %>
      </div>
      <div class="col-7">
        <%= form.text_area :explanation, class: "form-control introduction" %>
      </div>
      <div class="offset-5">
      </div>
      <div class="col mt-3">
        <%= form.submit class: 'btn btn-outline-info' %>
      </div>
    <% end %>
  </div>
</div>
