<div class="container">
  <div class="row">
   <div class="col-12">

<!-- ジャンルの重複を無くすための準備として、配列all_genreに全要素を格納 -->
    <% all_genre = [] %>
    <% @posts.each_with_index do |post, i| %>
     <% pointer = i + 1 - 1 %> <!-- pointerが0からスタートするために-1を付与 -->
      <% post.tag_list.each do |genre| %>
       <% all_genre[pointer] = genre %>
      <% end %>
    <% end %>

<!-- uniqメソッドで配列all_genre内の重複を無くして一覧表示 -->
    <% all_genre.uniq.each do |genre| %>
     <%= link_to genre, posts_path(tag_name: genre),class: 'text-dark' %>
    <% end %>

    </div>
    <div class="col-md-3">
    </div>
    <div class="col-md-8 offset-md-1">
     <table class="table">
      <thead>
       <tr>
        <th>    </th>
        <th>題名</th>
        <th>感想</th>
        <th colspan="3"></th>
        <th>    </th>
       </tr>
     </thead>
     <tbody>
      <% @posts.each do |post| %>
      <!-- サインアップ直後は投稿画像がなく、エラー画面になってしまう状況を避けます -->
        <% begin %>
           <tr>
            <td>
            <% unless rails_blob_path(post.post_file).match(/\.mp4/) || rails_blob_path(post.post_file).match(/\.pdf/)  %>
             <!-- 「, size: '100x100'」でもリサイズ可能。Gemを使わない場合の代替案 -->
             <%= image_tag post.post_image_resize, alt: '画像' %>
                 <!-- 「mine_open」では非同期通信が発火しないため、変数名を変更 -->
                 <%= render partial: 'goods/goods_btn', locals: { post: post, user_mine_open: post.user.mine_open, user_others_open: post.user.others_open} %>
            <% end %>

             <% if rails_blob_path(post.post_file).match(/\.mp4/) %> <!-- ファイル拡張子がmp4の場合 -->
              <video src="<%= rails_blob_path(post.post_file) %>" controls width="300" height="200"></video>
             <% end %>
             <% if rails_blob_path(post.post_file).match(/\.pdf/) %>
              <iframe src="<%= rails_blob_path(post.post_file) %>"></iframe>
             <% end %>

            </td>
            <td><%= link_to post.title, post_path(post.id) %></td>
            <td><%= post.tag_list %></td>
            <td><%= post.explanation %></td>
           </tr>
       <% rescue %>
         <p class="lead" style="font-size:x-small">投稿を始めましょう</p>
       <% end %>
     <% end %>
    </tbody>
   </table>
  </div>
 </div><!--row-->
</div><!--container-->

<h1 id="arrow_top">
  <i class="far fa-arrow-alt-circle-up fa-lg"></i>
</h1>
