

<div class='container'>
  <div class='row'>
    <div class="col-9 col-sm-8 col-lg-7">
    <h1><i class="fa-solid fa-cog fa-spin" style="--fa-animation-duration: 40s;"></i></h1>
    <%= form_with model: @new_post, local:true do |form| %>
      <div class="form-group">
        <%= form.label :Title %>
        <%= form.text_field :title, class: "form-control name" %>
      </div>
     <div class="form-group">
        <%= form.label :Image %>
        <%= form.file_field :post_file %>
      </div>
      <div class="form-group">
        <%= form.label :self_introduction %>
        <%= form.text_area :introduction, class: "form-control introduction" %>
      </div>
      <div class="form-group">
        <%= form.label :Genre %>
        <%= form.select :tag_list, options_for_select({ "Rails" => "Rails", "Ruby" => "Ruby", "HTML" => "HTML", "CSS" => "CSS", "JavaScript" => "JavaScript", "API" => "API", "AWS" => "AWS", "Python" => "Python", "DB" => "DB", "Test" => "Test", "DesignApp" => "DesignApp", "Rest" => "Rest"  }) %>
      </div>
      <div class="form-group">
        <%= form.label :Comment %>
        <%= form.text_area :explanation, class: "form-control introduction" %>
      </div>
      <div class="form-group">
        <%= form.submit class: 'btn btn-outline-info' %>
      </div>
    <% end %>
  </div>
</div>