<h2>New book</h2>

<%= form_with model: @new_post, local:true do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title %>
  <%= form.label :image %>
  <%= form.file_field :post_file, direct_upload: true %>
  <%= form.label :ジャンル %>
  <%= form.select :tag_list, options_for_select({ "Rails" => "Rails", "Ruby" => "Ruby", "HTML" => "HTML", "CSS" => "CSS", "JavaScript" => "JavaScript", "API" => "API", "AWS" => "AWS", "Python" => "Python", "DB" => "DB", "Test" => "Test", "DesignApp" => "DesignApp", "Rest" => "Rest"  }) %>
  <%= form.label :comment %>
  <%= form.text_area :explanation %><br>
  <%= form.submit %>
<% end %>