<div class="container-fluid">
 <div class="row justify-content-center">
  <div class="col-10 offset-2">
  <%= render partial: 'users/user_image', locals: { user: @user } %>
  </div>
  <div class="col offset-2">
   <% if @user.introduction.present? %>
    <textarea rows="5" cols="28"><%= @user.introduction %></textarea>
   <% end %>
  </div>
 </div>
</div>

<div class="row mt-1">
 <div class="col-5 offset-2 col-sm-2 offset-sm-2">
    <% if @post.user_id == current_user.id %>
     <%= link_to edit_post_path(@post), class: "post-edit" do %>
      <i class="fa-solid fa-file-pen fa-3x mt-1" style="color: #a6ce39;"></i>
     <% end %>
    <% end %>
   </div>
   <div class="col-3">
    <% if @post.user_id == current_user.id %>
     <%= link_to post_path(@post), method: :delete, data: { confirm: I18n.t("Please make sure") }, class: "post-destroy" do %>
      <i class="fa-solid fa-trash-can fa-3x mt-1" style="color: #a6ce39;"></i>
     <% end %>
    <% end %>
  </div>
</div>

<div class="col offset-sm-2 mt-5 px-0 px-sm-2">
 <h4>【<%= @post.title %>】</h4>
</div>
<div class="post-show-image">
 <%= render partial: 'posts/post_image_show', locals: { post: @post } %>
</div>
<div class="col offset-sm-2 mt-5 px-0 pl-md-4">
 <% unless current_user == @post.user %>
  <%= link_to chat_path(@user.id) do %>
   <i class="fa-regular fa-comments-question fa-3x" style="color: #a6ce39;"></i>
  <% end %>
 <% end %>
</div>
<textarea class="post-show-explanation"><%= @post.explanation %></textarea>

<div id="enlarge" class="w-100">
 <%= render partial: 'posts/post_image_show_fade', locals: { post: @post } %>
</div>