<header class="sticky-top">
  <nav class="navbar  navbar-dark bg-dark">
    <div class="container">
        <h1>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <%= image_tag 'logo.png' %>
          <% end %>
        </h1>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse absolute" id="navbarNavDropdown">
        <ul class="navbar-nav ml-5">
        <% if user_signed_in? %>
          <%= link_to posts_path do %>
            <i class="fa-solid fa-signs-post nav-link text-light fa-3x mt-2 mb-1"></i>
          <% end %>

          <div>
          <%= link_to user_path(current_user) do %>
            <i class="fa-solid fa-circle-user text-light fa-3x mt-2 mb-1"></i>
          <% end %>
          </div>

          <% if unchecked_notifications.any? %>
            <%= link_to notifications_path do %>
              <i class="fa-solid fa-circle-info fa-flash position-absolute mt-n5 ml-5" style="--fa-flash-opacity: 0.67; --fa-flash-scale: 1.5; color: gold;" ></i>
            <% end %>
          <% end %>

          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa-solid fa-hand-wave text-light fa-3x mt-3 mb-1"></i>
          <% end %>
          <li>
            <%= form_with url: search_path, method: :get, local: true do |f| %>
              <%= f.text_field :keyword %>
              <%= f.submit "Search" %>
            <% end %>
          </li>
        <% else %>
          <li><%= link_to 'About',home_about_path,class: 'fas fa-link nav-link text-light' %></li>
          <li><%= link_to 'sign up', new_user_registration_path,class: 'fas fa-user-plus nav-link text-light' %></li>
          <li><%= link_to 'login', new_user_session_path ,class: 'fas fa-sign-in-alt nav-link text-light'%></li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>