<!DOCTYPE html>
<html>
  <head>
    <title>TRailers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/9a93de7f00.js" crossorigin="anonymous"></script>
    <%= favicon_link_tag 'favicon.png', type: 'image/png' %>
  </head>

  <body class="body_bg_color">
    <main>
      <%= render 'layouts/header' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </main>
  </body>
</html>
